include head
script(type='text/javascript', src='../bower_components/moment/min/moment-with-langs.js')
script(type='text/javascript', src='http://api.map.baidu.com/api?v=2.0&ak=1ZpVLsC9WnVW09ACTkcKbIOB')
.my_attraction
  
  .navigation(style='border-bottom: 1px #bbbbbb solid; width:69%; height: 55px;')
    label#dinner_party.lab1(style='background-position: 0px 0px;')
    label#singer.lab2
    label#iring.lab3
    label#my_attractive.lab4
  
  .idinner_center(style="margin-top: 0px")
    .idinner_right
      .idinner_today
        h5#today_date 今天 05月22日 星期一1
    .idinner_left
      .idinner_list_title
        h5 #{dinners[0].dinner_tag}
      div.idinner_list_main_photo_border
        img.idinner_list_main_photo(src= "/"+'#{dinners[0].dinner_image_big}')
      .idinner_list_tag_border
        -for(i = 0; i < dinners[0].string_tag.length; i++)
          label.idinner_list_tag #{dinners[0].string_tag[i]}
      div.idinner_list_start_time_border
        span.idinner_list_start_text 开始时间：
        span.idinner_list_start_info #{dinners[0].dinner_time} #{dinners[0].dining_hours}:#{dinners[0].dining_minute}
      div.idinner_list_start_time_border
        span.idinner_list_start_text 费用方式：
        span.idinner_list_start_info #{dinners[0].payment_method}
      div.idinner_list_creator_border
        span.idinner_list_creator_text 发起人：
        img.idinner_list_creator_photo(src="/small/11@qq.com1401114677914_1.png")
        span.idinner_list_creator_info 发起人联系电话将于预定位子后获得
      div.idinner_list_last_info
        span(style="float: left;margin-left: 25px") 只剩
        span(style="font-size: 26px;float: left;") 2
        span(style="float: left") 位》
      a.book_table(href="#")
      div.dinner_list_2
        div.dinner_list_2_left
          span.span_title 详细描述
          p.dinner_list_description(style="margin-top:20px") #{dinners[0].description}
        div.dinner_list_2_right
          span.span_title 聚餐地点
          span.dinner_list_place #{dinners[0].dining_locations_info}
          //- div#baidu_map.baidu_map
      div.dinner_list_3 
        span.span_title 你将遇到的人
        if user
          if dinners[0].creater == user.photo0         
            span.dinner_list_users
              div.dinner_list_little_photo_border
                img.dinner_list_little_photo_img(src="/temp/11@qq.com1402995083615.png")
              a.dinner_list_username XX11
              span.dinner_list_span 厦门大学 学生
              a.dinner_list_agree_user(href="#")
              a.dinner_refuse(href="#") 拒绝
        span.dinner_list_users
          div.dinner_list_little_photo_border
            img.dinner_list_little_photo_img(src="/temp/11@qq.com1402995083615.png")
          a.dinner_list_username XX
          span.dinner_list_span 厦门大学 学生
          a.dinner_list_agree_user(href="#")
          a.dinner_refuse(href="#") 拒绝
        span.dinner_list_users
          div.dinner_list_little_photo_border
            img.dinner_list_little_photo_img(src="/temp/11@qq.com1402995083615.png")
          a.dinner_list_username XX
          span.dinner_list_span 厦门大学 学生
          a.dinner_list_agree_user(href="#")
          a.dinner_refuse(href="#") 拒绝
        span.dinner_list_users
          div.dinner_list_little_photo_border
            img.dinner_list_little_photo_img(src="/temp/11@qq.com1402995083615.png")
          a.dinner_list_username XX
          span.dinner_list_span 厦门大学 学生
          a.dinner_list_agree_user(href="#")
          a.dinner_refuse(href="#") 拒绝
      div.dinner_list_4
        span.span_title 饭前饭后说两句
        span.my_user_photo_border
          img(src="/small/11@qq.com1401114677914_1.png",style="float:left;")
          div.dinner_say_border
            textarea.dinner_say
        span.user_say_border
          img(src="/small/11@qq.com1401114677914_1.png",style="float:left;")
          div.dinner_say_user_border
            a.critics 林遥:
            span.critics_info 期待期待
            span.critics_time 09-08 10：12

    .hidden_login
      .login_img
      div.login_text1(style="margin-top: 0px; margin-left: 87px") 恭候大驾
      span.hidden_login_aline
        span.login_text2.text_all(style="margin-left: 0px") 邮箱:
        input#hidden_login_email.hidden_login_input
      span.hidden_login_aline
        span.login_text2.text_all(style="margin-left: 0px") 密码:
        input#hidden_login_password.hidden_login_input(type="password")
      a#hidden_login_button.hidden_login_button(href="#")
      span.hidden_login_text1 请先登陆
    //- 这里是当前用户的信息
    if user 
      div#hidden_info
        input#user_photo0(value='#{user.photo0}',type='hidden')
        input#creater(value='#{dinners[0].creater}',type='hidden')
        -for(var i = 0; i < dinners[0].apply_members.length; i++)
          if dinners[0].apply_members[i].flag == "F"
            input.apply_members(value='#{dinners[0].apply_members[i].photo0}',type='')
          if dinners[0].apply_members[i].flag == "T"
            input.members(value='#{dinners[0].apply_members[i].photo0}',type='')
script
  :coffee
    dinners_main()
    # 在页面加载之前，先判断用户有没有加入此聚餐，如果有，预定位子按钮变灰色
    dinner_list()
include foot